html {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


#navbar {
    display: grid;
    grid-template-columns: 1fr 50px 50px 45px 8px 65px 15px;
    grid-template-rows: 30px;
    grid-template-areas: ". gmail images menu . sign .";
    font-size: 13px;
    font-family: arial,sans-serif;
}

#gmail {
    grid-area: gmail;
    justify-self: center;
    align-self: center;
    color: black;
}
#images {
    grid-area: images;
    justify-self: center;
    align-self: center;
    color: black;
}
#menu {
    grid-area: menu;
    justify-self: center;
    align-self: center;
    color: black;
}
#sign {
    grid-area: sign;
    background-color: #4683ea;
    justify-self: center;
    align-self: center;
    height: 28px;
    width: 65px;
    line-height: 28px;
    text-align: center;
    color: white;
    border: 1px solid #4285f4;
    
}



#main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 70px 50px 50px;
    grid-template-areas: ". logo ."
                         ". search ."
                         ". google-buttons ."
                         ". lang .";
    font-family: arial,sans-serif;
   
}


#logo {
    grid-area: logo;
    justify-self: center;
    align-self: end;
}
#search {
    grid-area: search;
    align-self: center;
    height: 40px;
    width: 560px;
    border-radius: 30px;
    border: 1px solid rgba(170, 165, 165, 0.89);
    
}
#search:hover {
    box-shadow: 1px 1px 5px grey;
}
#search:focus {
    box-shadow: 1px 1px 5px grey;
}
#google-buttons {
    grid-area: google-buttons;
    justify-self: center;
    align-self: center;
    
}
#search-button {
    grid-area: search-button;
    height: 30px;
    border: none;
    background-color: #f1f1f1;
}
#random-button {
    grid-area: random-button;
    height: 30px;
    border: none;
    background-color: #f1f1f1;
}
#search-button:hover {
    border: 1px solid rgba(112, 107, 107, 0.644);
    color: black;
    background-color: rgb(250, 243, 243);
}
#random-button:hover {
    border: 1px solid rgba(112, 107, 107, 0.644);
    color: black;
    background-color: rgb(250, 243, 243);
}
#lang {
    grid-area: lang;
    font-size: 13px;
    align-self: center;
    justify-self: center;
}


#location {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-template-rows: 40px;
    grid-template-areas: ". loc";
    position: relative;
    bottom: -110px;
    border-bottom: 1px solid rgb(189, 185, 185);
    border-top: 1px solid rgb(189, 185, 185);
    font-family: arial,sans-serif;
    width: 100%;
    background: #f2f2f2;
    text-align: left;
    color: #5f6368;
    line-height: 10px;
}
#loc {
    grid-area: loc;
}

#footer {
    display: grid;
    grid-template-columns: 90px 90px 90px 140px 1fr 80px 80px 80px;
    grid-template-rows: 50px;
    grid-template-areas: "advertising buisness about how . privacy terms settings";
    font-size: 14px;
    position: relative;
    bottom: -110px;
    background: #f2f2f2;
    text-align: center;
    line-height: 40px;
    font-family: arial,sans-serif;
}

#advertising {
    grid-area: advertising;
}
#buisness {
    grid-area: buisness;
}
#about {
    grid-area: about;
}
#how {
    grid-area: how;
}
#privacy {
    grid-area: privacy;
}
#terms {
    grid-area: terms;
}
#settings {
    grid-area: settings;
}

#footer a {
    color: #5f6368;
}
