html {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

#navbar {
    display: grid;
    grid-template-columns: 1fr 65px 65px 65px 65px;
    grid-template-rows: 50px;
    grid-template-areas: ". gmail images menu sign";
    font-size: 13px;
}

#gmail {
    grid-area: gmail;
}
#images {
    grid-area: images;
}
#menu {
    grid-area: menu;
}
#sign {
    grid-area: sign;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 50px 50px 50px;
    grid-template-areas: ". logo ."
                         ". search ."
                         ". google-buttons ."
                         ". lang .";
    align-items: center;
}

#logo {
    grid-area: logo;
    justify-self: center;
}
#search {
    grid-area: search;
}
#google-buttons {
    grid-area: google-buttons;
    justify-self: center;
}
#search-button {
    grid-area: search-button;
}
#random-button {
    grid-area: random-button;
}
#lang {
    grid-area: lang;
    font-size: 13px;
}

#footer {
    display:grid;
    grid-template-columns: 100px 100px 100px 100px 1fr 100px 100px 100px;
    grid-template-rows: 50px;
    grid-template-areas: "advertising buisness about how . privacy terms settings";
    font-size: 14px;
    position: relative;
    bottom: -150px;
}

#advertising {
    grid-area: advertising;
}
#buisness {
    grid-area: buisness;
}
#about {
    grid-area: about;
}
#how {
    grid-area: how;
}
#privacy {
    grid-area: privacy;
}
#terms {
    grid-area: terms;
}
#settings {
    grid-area: settings;
}